-# = link_to "Add family member", relationships_path(:family_id => user), :method => :post
-# %ul
-#   - @recipe.each do |recipe|
-#     - recipe.tags.each do |tag|
-#       %li.tags= link_to tag.name, recipe_tag_path(tag_name: tag.name)

- @recipe.each_slice(3) do |recipes|
  .row
    - recipes.each do |recipe|
      -# - recipe.tags.each do |tag|
      -#   = link_to tag.name, recipe_tag_path(tag_name: tag.name)
      .col-md-4
        .recipe
          .image-wrapper
            = link_to recipe do
              = image_tag recipe.image.url(:medium)
          %h2= link_to recipe.title, recipe
          - recipe.tags.each do |tag|
            = link_to tag.name, recipe_tag_path(tag_name: tag.name)

      -# .col-md-7.well
      -#   - if !@current_user.families.include? @user
      -#     = button_to 'Follow', relationships_path(family_id: @user.id)
      -#   - else
      -#     = button_to 'UnFollow', relationships_path(user_id: @current_id, family_id: @user.id), method: :delete
      -#     = link_to 'All the user', public_path(user_id: @current_user.id)
