// $bgColorContent: purple;
@import 'themes/jquery.ui.smoothness';
@import 'jquery.ui.core';
@import 'jquery.ui.theme';
@import 'jquery.ui.datepicker';
@import 'jquery.ui.all';
@import "bootstrap-sprockets";
@import "bootstrap";


@mixin box-shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
  box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}
$red: #DB6161;
body {
  // background: #FFDA8F;
  background-image: url("wood.jpg");
}
.main_content {
  padding: 0 0 50px 0;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  @include box-shadow;
  background: white;
  font-weight: bold;
}
.navbar {
  background-image: url("legs.jpg");
  background-image: no-repeat;
  margin-bottom: 50px;
  @include box-shadow;
  border: none;
  text-transform: uppercase;
  text-color: #FFFFCC;
  .navbar-brand {
    padding: 15px 5%;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 25px;
    a {
      color: #FFFFCC;
    }
  }
  .navbar-nav.navbar-right{
    a:link {
      background: white;
      color: #FFFFCC;
    }
  }
}
.recipe {
  background: #E6E6E4;
  border-radius: 5px;
  margin-bottom: 40px;
  @include box-shadow;
  .image_wrapper {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    a {
      color: #FFFFCC;
    }
  }
  img {
    width: 100%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    &:hover {
      transform: scale(1.095);
    }
  }
  h2 {
    padding: 15px 5%;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
    a {
      color: #CC6600;
    }
  }
  h1 {
    color: #FFFFCC;
  }
}
#recipe_top {
  margin-bottom: 50px;
}
#recipe_info, #ingredients, #directions {
  background: #E6E6E4;
  @include box-shadow;
  min-height: 360px;
  border-radius: 5px;
  padding: 2em 8%;
  a {
    color: #FFFFCC;
  }
}
.recipe_image {
  max-width: 100%;
  border-radius: 5px;
  @include box-shadow;
}
#recipe_info {
  h1 {
    font-size: 36px;
    font-weight: normal;
    color: #FFFFCC;
  }
  .description {
    color: #8A8A8A;
    font-size: 20px;
  }
}
#ingredients, #directions {
  margin-bottom: 50px;
  ul, ol {
    padding-left: 18px;
    li {
      padding: 1em 0;
      border-bottom: 1px solid #EAEAEA;
    }
  }
}
.form-inline {
  margin-top: 15px;
    color: #FFFFCC;
}
.form-input {
  width: 65% !important;
  float: left;
  color: #FFFFCC;
}
.form-button {
  float: left;
  width: 30% !important;
  margin-left: 5%;
}
.add-button {
  margin-top: 25px;
}
.panel_body {
  color: #FFFFCC;
}
h1 {
  color: #FFFFCC;
}
