// $bgColorContent: purple;
@import 'themes/jquery.ui.smoothness';
@import 'jquery.ui.core';
@import 'jquery.ui.theme';
@import 'jquery.ui.datepicker';
@import 'jquery.ui.all';
@import "bootstrap-sprockets";
@import "bootstrap";


@mixin box-shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
  box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}
body {
  background-image: url("wood.jpg");
}
.main_content {
  padding: 0 0 50px 0;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  @include box-shadow;
  background: white;
  font-weight: bold;
}
.navbar {
  background-image: url("herbs.jpg");
  background-repeat: repeat-x;
  // background-size: 100% 100%;
  opacity: 0.8;
  margin-bottom: 50px;
  @include box-shadow;
  border: none;
  text-transform: uppercase;
  text-color: #669900;
  .navbar-brand {
    padding: 15px 5%;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 25px;
    a {
      color: #BAD18D;
    }
  }
  .navbar-nav.navbar-right{
    a:link {
      background: white;
      color: #FFFFCC;
    }
  }
}
.recipe {
  background: #E6E6E4;
  border-radius: 5px;
  margin-bottom: 40px;
  @include box-shadow;
  .image_wrapper {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    a {
      color: #707D55;
    }
  }
  img {
    width: 100%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    &:hover {
      transform: scale(1.095);
    }
  }
  h2 {
    padding: 15px 5%;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
    a {
      color: #707D55;
      font-weight: bold;
    }
  }
  h1 {
    color: #FFFFCC;
  }
}
#recipe_top {
  margin-bottom: 50px;
}
#recipe_info, #ingredients, #directions {
  background: #E6E6E4;
  @include box-shadow;
  min-height: 360px;
  border-radius: 5px;
  padding: 2em 8%;
  a {
    color: #707D55;
    font-weight: bold;
  }
}
.recipe_image {
  max-width: 100%;
  border-radius: 5px;
  @include box-shadow;
}
#recipe_info {
  color: #707D55;
  font-weight: bold;
  font-size: 15pt;
  h1 {
    font-size: 36px;
    color: #707D55;
    font-weight: bold;
  }
  .description {
    color: #707D55;
    font-size: 20px;
  }
}
#ingredients, #directions {
  margin-bottom: 50px;
  color: #707D55;
  ul, ol {
    padding-left: 18px;
    color: #707D55;
    li {
      padding: 1em 0;
      border-bottom: 1px solid #EAEAEA;
      color: #707D55;
    }
  }
}
.form-inline {
  margin-top: 15px;
}
.form-input {
  width: 65% !important;
  float: left;

}
.form-button {
  float: left;
  width: 30% !important;
  margin-left: 5%;
}
.add-button {
  margin-top: 25px;
}
// .panel_body {
//   color: #FFFFCC;
// }
h1 {
  color: #ECDAA3;
}
#new_recipe.simple_form.new_recipe{
  // color: #707D55;
  color: #ECDAA3;

}
p.help-block{
  color: #ECDAA3;
}
input.btn.btn.btn-primary{
  margin: 15px;
  padding: 10px 10px 10px 10px;
  background-color: #83AC30;
}
#new_recipe.input.recipe_tag_list.string.optional{
  color: #000000;
}
#new_recipe.control-group.string.optional.recipe_make_recipe_date{
  color: #000000;
}
li.tags{
  display: inline;
  margin-right: 10px;
  font-size: 18pt;
  a {
    color: #C6AA8D;
  }
}
li{
  font-size: 12pt;
}
a{
    color: #5C3D1F;
  }
